/* CARDS LINEUP */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: 'Kiwi Maru', serif !important;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
#field-lineup .flex-lineup {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.lineup-card .order-spot {
  font-size: 2rem;
  display: grid;
  grid-template-columns: .25fr 1fr .25fr .25fr;
  background-color: #72AEE127;
  border-radius: 5px;
  border: 2px solid #B80C1E;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.lineup-card .batting-order {
  color: #72AEE1;
}
.lineup-card .player-name,
.lineup-card .player-position {
  color: #02173F;
}
.lineup-card .player-number {
  color: #B80C1E;
}