html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* TOP BLOCK SECTION */
/*-------------------*/

#top-block .hp-bg {
  background-image: url(images/whiteside_mountain.jpg);
  background-size: cover;
  background-position: center center;
  height: 500px;
}
.hp-overlay {
  position: relative;
  top: 90px;
}
#top-block h1 {
  color: #fff;
}
.header-img {
  max-width: 20%;
  margin: auto;
}