html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Kiwi Maru', serif;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

/* TOP BLOCK SECTION */
/*-------------------*/

#top-block .hp-bg {
  background-image: url(images/whiteside_mountain.jpg);
  background-size: cover;
  background-position: center center;
  height: 400px;
}
.hp-overlay {
  position: relative;
  top: 150px;
}
#top-block h1 {
  color: #fff;
}
/* .header-img {
  max-width: 20%;
  margin: auto;
} */

/* ABOUT BLOCK SECTION */
/*-------------------*/
#about-clock {
  padding: 5%;
}


/* WORK BLOCK SECTION */
/*-------------------*/

#work-block {
  background-color: rgb(210, 206, 234);
  padding: 5%;
}
#work-block .block-card {
  -webkit-box-shadow: rgb(0 0 0 / 40%) 0px 5px 15px;
  -moz-box-shadow: rgba(0,0,0,0.4) 0px 5px 15px;
  -o-box-shadow: rgba(0,0,0,0.4) 0px 5px 15px;
  box-shadow: rgb(0 0 0 / 40%) 0px 5px 15px;
}

@media (min-width: 768px) {
  #work-block .offset-3 {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  #work-block .last-card {
    padding-top: 5%;
  }
}